# My first Jupyter message
I am creating a greeting

In [24]:
import pandas as pd

In [ ]:
Intro='Double click to add a picture see below'

![Image of logo](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png)

## Print statements

In [11]:
greeting = 'hello, click shift enter to see the datatype'

In [12]:
print greeting

hello, click shift enter to see the datatype

## To see the datatypes

In [16]:
greet = 'hello'

In [17]:
print(type(greet))

<type 'str'>

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

## Using backslash

In [9]:
quote = "Jack said \"I need beer now!\""

In [13]:
print quote

Jack said "I need beer now!"

In [18]:
path = 'C:\DATA\music.csv'

In [19]:
print path

C:\DATA\music.csv

In [20]:
path = 'C:\nDATA\music.csv'

In [21]:
print path

C:
DATA\music.csv

In [22]:
datapath = r'\\10.50.0.116/data'

In [23]:
print datapath

\\10.50.0.116/data

## Open a file using pandas (remember to give it an alias)

In [25]:
pets = pd.read_csv(r'C:\Users\Student\Documents\python ex.csv')

In [26]:
pets

   Number of pets  Pet Type Owner name
0               2       Dog        Jim
1               5  Goldfish    Crystal
2               5       cat       Beth
3               1   hamster       Keke
4               4     snake       Greg

### Backslash

In [27]:
message = '''hey bla bla bla this is python'''

In [28]:
message

'hey bla bla bla this is python'

In [38]:
def add_VAT (price):
'''This my first python day! The price is the input param'''
return price * 1.2

IndentationError: expected an indented block (<ipython-input-38-d6c5391f4733>, line 2)

## Variables

In [35]:
v = 15

In [36]:
type(v)

int

In [39]:
hex(id(v))

'0x3016328L'

In [45]:
x = 15

In [46]:
type(x)

int

In [47]:
hex(id(x))

'0x3016328L'

##### When you have variables that are equal to the same thing, the hex id is the same

##### The hex id is a unique code that is the same for integer despite the different variables

###### Checks gerbage to see if there is no link to the object. If v=5 then v=10, there is no object for 5.

In [48]:
import sys

In [49]:
sys.getrefcount(x)

130

## This shows how many objects correspond to a certain variable

In [50]:
a = 10

In [52]:
b = a

In [53]:
a = 11

In [54]:
print b

10

## Making lists

In [66]:
# Define l as a list with 4 values
l = [17, 6, 3, 100]

In [80]:
# Define l2 equal to l
l2 = l

In [68]:
l

[17, 6, 3, 100]

In [81]:
l2

[55, 654, 21, 1]

In [73]:
l[2] = 13
# the [2] is looking at the second number in the sequence, the list starts at 0

In [74]:
l

[17, 6, 13, 100]

In [75]:
l = [55,654,21,1]

In [76]:
l

[55, 654, 21, 1]