# Append

In [4]:
# ways to create lists
# either l = [] OR(see below)
#This is for when we don't know the values
l = list()

In [6]:
l2 = []

In [7]:
l3 = ['A', 'B', 'C']

In [8]:
l.append('Z')
l2.append('Z')
l3.append('Z')

In [9]:
l

['Z']

In [10]:
l2

['Z']

In [11]:
l3

['A', 'B', 'C', 'Z']

In [13]:
#remember, cannot append multiple elements on to a list
#i.e. l.append('X', 'Y')

In [16]:
#However, you can add a list into a list. l.append(['X', 'Y'])
l.append(['X', 'Y'])

In [18]:
l
#Remember this list has 3 elements, 2 strings and a list.

['Z', ['X', 'Y']]

# Extend

In [19]:
l.extend(['G', 'H', 'I'])

In [20]:
l

['Z', ['X', 'Y'], 'G', 'H', 'I']

# Importing csv with Python and append lines

In [56]:
group = []
with open(r'C:\DATA\Python excel.csv') as f:
    for line in f:
        group.append(line.strip().split(','))
# line is a variable and f is the alias so everytime Python finds a line in the variable f we have defined 
# add in a split function to split it by comma

In [57]:
group

[['Ama', 'London', '1'],
 ['Brooke', 'Machester', '2'],
 ['Cassie', 'Lisbon', '3'],
 ['Debbie', 'Madrid', '4'],
 ['Eddie', 'Paris', '5'],
 ['Frank', 'Copenhagen', '6'],
 ['Greg', 'Kumasi', '7'],
 ['Hannah', 'New York', '8'],
 ['Izzie', 'Dublin', '9'],
 ['Julie', 'Split', '10'],
 ['Karen', 'Budapest', '11'],
 ['Laura', 'Rome', '12']]

In [59]:
group[0]

['Ama', 'London', '1']

In [35]:
#To get back the city you can slice it further
group [0] [1]

'London'

In [37]:
# -1 means 'the last one' so to reveal the last element within the lists, just put -1, -1
group [-1][-1]

'12'

In [39]:
names = []

In [58]:
for p in group:
    print p[0]

Ama
Brooke
Cassie
Debbie
Eddie
Frank
Greg
Hannah
Izzie
Julie
Karen
Laura

In [63]:
# This is the inefficient way of doing for loops
for n, c, i in group:
    person_description = 'Their name is {n}, they are in {c} and personid {i}'.format(n = n, c = c, i = i)
    print person_description

Their name is Ama, they are in London and personid 1
Their name is Brooke, they are in Machester and personid 2
Their name is Cassie, they are in Lisbon and personid 3
Their name is Debbie, they are in Madrid and personid 4
Their name is Eddie, they are in Paris and personid 5
Their name is Frank, they are in Copenhagen and personid 6
Their name is Greg, they are in Kumasi and personid 7
Their name is Hannah, they are in New York and personid 8
Their name is Izzie, they are in Dublin and personid 9
Their name is Julie, they are in Split and personid 10
Their name is Karen, they are in Budapest and personid 11
Their name is Laura, they are in Rome and personid 12

# List Comprehension

In [76]:
# I want to see all n in the group list. Th RHS shows what we are looking at, the LHS tells you what to do with it.
[n for n, c, i in group]

['Ama',
 'Brooke',
 'Cassie',
 'Debbie',
 'Eddie',
 'Frank',
 'Greg',
 'Hannah',
 'Izzie',
 'Julie',
 'Karen',
 'Laura']

In [78]:
names1 = [n.upper() for n, c, i in group]
print names1

['AMA', 'BROOKE', 'CASSIE', 'DEBBIE', 'EDDIE', 'FRANK', 'GREG', 'HANNAH', 'IZZIE', 'JULIE', 'KAREN', 'LAURA']

In [79]:
# the old way
names1 = []
for n in group:
    names.append(n[0])

In [89]:
[l[0].upper() for l in group if l[0].startswith('B')]

['BROOKE']

In [85]:
l[0]

'Ama'

# The wrong way to insert

In [90]:
group.insert(1, ['Lawrence','Tema', '73' ])
#index offset is like a surrogate key

In [91]:
group

[['Ama', 'London', '1'],
 ['Lawrence', 'Tema', '73'],
 ['Brooke', 'Machester', '2'],
 ['Cassie', 'Lisbon', '3'],
 ['Debbie', 'Madrid', '4'],
 ['Eddie', 'Paris', '5'],
 ['Frank', 'Copenhagen', '6'],
 ['Greg', 'Kumasi', '7'],
 ['Hannah', 'New York', '8'],
 ['Izzie', 'Dublin', '9'],
 ['Julie', 'Split', '10'],
 ['Karen', 'Budapest', '11'],
 ['Laura', 'Rome', '12']]

In [92]:
# FIFO vs LIFO

# Deleting rows

### pop removes the row and returns it to you, n.pop(index)

In [95]:
group.pop(4)

['Eddie', 'Paris', '5']

### remove completely gets rid of it, n.remove(item)

In [105]:
group.remove(['Karen', 'Rome', '12'])

ValueError: list.remove(x): x not in list

In [97]:
group

[['Ama', 'London', '1'],
 ['Lawrence', 'Tema', '73'],
 ['Brooke', 'Machester', '2'],
 ['Cassie', 'Lisbon', '3'],
 ['Frank', 'Copenhagen', '6'],
 ['Greg', 'Kumasi', '7'],
 ['Hannah', 'New York', '8'],
 ['Izzie', 'Dublin', '9'],
 ['Julie', 'Split', '10'],
 ['Karen', 'Budapest', '11'],
 ['Laura', 'Rome', '12']]